<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\main.css">
    <title>Dashboard</title>
</head>
<body class="dashboard-body">
    <div class="search-container">
        <form action="/data" method="post">
            <input type="text" name="query" placeholder="Search...">
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>

<!-- Add filter under search bar. filter will show drop down menu with checkbox options -->
<!-- https://developer.edamam.com/edamam-docs-recipe-api#operations-tag-Lookup_recipes_by_URI -->
<!-- diet, mealtype, cuisinetype, health, calories, nutirients[PROCNT] (protein min-max) -->