<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Sign Up</title>
    <style>
    </style>
</head>
<body>

<div class="header">
    Need Help Meal Planning?
</div>

<div class ="main-content">
    <div class="container">
        <h1>Sign Up</h1>

        {% if message %}
            <div class="message">{{ message|safe }}</div>
        {% endif %}

        <p>Please enter an email and password to create an account</p>
        <form action="{{ url_for('auth.signup') }}" method="POST"> 
            <input type="text" name="email" id="email" placeholder="Email" required />
            <input type="password" name="password" id="password" placeholder="Password" required />
            <input type="submit" name="submit" value="Sign Up" />
        </form>

        <div class="link">
            <a href="{{ url_for('auth.login') }}">Already have an account? Log in here</a>
        </div>
    </div>
</div>

</body>
</html>
