<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="32x32" rel="icon" href="..\static\icons8-recipe-32.png">
    <link rel="stylesheet" href="..\static\css\main.css">
    <title>Dashboard</title>
    <style>
        .search-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .search-input {
            flex: 2;
            min-width: 300px;
            padding: 8px;
            font-size: 16px;
        }

        .filter-form {
            display: flex;
            flex-wrap: wrap;
            gap: 20px; /* space between items */
        }

        .choices {
            min-width: 300px;
            max-width: 400px;
            height: auto;
            font-size: 16px;
            overflow-y: auto;
        }

        /* .filter-dropdown {
            flex: 1;
            min-width: 200px; /* Make the dropdown wider *
            padding: 8px;
            font-size: 16px;
            height: 150px; /* Make it taller if it's a multiple select *
            overflow-y: auto; /* Scrollbar appears if needed *
        } */

        .search-button {
            padding: 8px 16px;
            font-size: 16px;
        }

    </style>
</head>
<body class="dashboard-body">
    <div class="search-container">
        <form action="/data" method="post" class="search-form">
            <input type="text" name="query" placeholder="Find new recipes...">
            <!-- Diet type dropdown -->
             <select name="diet[]" multiple>
                <option value="">Any Diet</option>
                <option value="balanced">Balanced Diet</option>
                <option value="high-fiber">High-Fiber Diet</option>
                <option value="high-protein">High-Protein Diet</option>
                <option value="low-carb">Low-Carb Diet</option>
                <option value="low-fat">Low-Fat Diet</option>
                <option value="low-sodium">Low-Sodium Diet</option>
             </select>

             <!-- Health type Dropdown -->
            <select name="health[]" multiple>
                <option value="">Any Health</option>
                <option value="celery-free">Celery-Free Food</option>
                <option value="crustacean-free">Crustacean-Free Food</option>
                <option value="dairy-free">Dairy-Free Food</option>
                <option value="egg-free">Egg-Free Food</option>
                <option value="fish-free">Fish-Free Food</option>
                <option value="gluten-free">Gluten-Free Food</option>
                <option value="kosher">Kosher Food</option>
                <option value="low-sugar">Low Sugar Food</option>
                <option value="mustard-free">Mustard-Free Food</option>
                <option value="peanut-free">Peanut-Free Food</option>
                <option value="pork-free">Pork-Free Food</option>
                <option value="shellfish-free">Shellfish-Free Food</option>
                <option value="soy-free">Soy-Free Food</option>
                <option value="tree-nut-free">Tree-Nut Free Food</option>
                <option value="vegan">Vegan Food</option>
                <option value="vegetarian">Vegetarian Food</option>
                <option value="wheat-free">Wheat Free Food</option>
            </select>

            <!-- Meal Type Dropdown -->
            <select name="mealType[]" multiple>
                <option value="">All Meal Types</option>
                <option value="breakfast">Breakfast</option>
                <option value="brunch">Brunch</option>
                <option value="lunch/dinner">Lunch/ Dinner</option>
                <option value="snack">Snack</option>
                <option value="teatime">Tea Time</option>
            </select>

            <!-- Dish Type Dropdown -->
            <select name="dishType[]" multiple>
                <option value="">All Dish Types</option>
                <option value="bread">Bread</option>
                <option value="condiments and sauces">Condiments and Sauces</option>
                <option value="desserts">Desserts</option>
                <option value="drinks">Drinks</option>
                <option value="egg">Egg</option>
                <option value="main course">Main Course</option>
                <option value="pasta">Pasta</option>
                <option value="pastry">Pastry</option>
                <option value="pies and tarts">Pies and Tarts</option>
                <option value="pizza">Pizza</option>
                <option value="salad">Salad</option>
                <option value="sandwiches">Sandwiches</option>
                <option value="seafood">Seafood</option>
                <option value="side dish">Side Dishes</option>
                <option value="soup">Soup</option>
                <option value="sweets">Sweets</option>
            </select>

            <!-- Cuisine Types Dropdown -->
            <select name="cuisineType[]" multiple>
                <option value="">All Cuisine Types</option>
                <option value="american">American</option>
                <option value="asian">Asian</option>
                <option value="british">British</option>
                <option value="chinese">Chinese</option>
                <option value="french">French</option>
                <option value="greek">Greek</option>
                <option value="indian">Indian</option>
                <option value="italian">Italian</option>
                <option value="japanese">Japanese</option>
                <option value="korean">Korean</option>
                <option value="mexican">Mexican</option>
                <option value="middle eastern">Middle Eastern</option>
                <option value="south american">South American</option>
            </select>
            
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elements = document.querySelectorAll('select[multiple]');
        elements.forEach(function(el) {
            new Choices(el, {
                removeItemButton: true,
                searchEnabled: true,
            });
        });
    });
</script>


<!-- Add filter under search bar. filter will show drop down menu with checkbox options -->
<!-- https://developer.edamam.com/edamam-docs-recipe-api#operations-tag-Lookup_recipes_by_URI -->
<!-- diet, mealtype, cuisinetype, health, calories, nutirients[PROCNT] (protein min-max) -->