<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="32x32" rel="icon" href="..\static\icons8-recipe-32.png">
    <title>{{ recipe.label }} - Recipe Details</title>
    <link rel="stylesheet" href="..\static\css\main.css">
</head>
<body class="details-body">
    <header class="banner">
        <nav class="nav-grid">
            <div>
                <ul class="nav-list">
                    <div class="profile-link">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.user_profile') }}">Profile</a></li>
                    </div>
                    <div class="profile-link">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.dashboard') }}">Dashboard</a></li>
                    </div>
                    <div class="profile-link">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>

    <div class="dish-title">
        <h1>{{ recipe.label }}</h1>
    </div>
    
    <div class ="recipe">
        <div class="image-macro">
            <div class="macro-image">
                <img src="{{ recipe.image }}" alt="{{ recipe.label }}">
            </div>
            <div class="nutrition-label">
                <h3>Nutrition Facts</h3>
                <p class="serving-size">Serving Size: 1 of {{ recipe.servings }}</p>
                <p class="servings">Servings Per Recipe: {{ recipe.servings }}</p>
            
                <div class="label-line bold-line"></div>
                <p class="calories"><strong>Calories</strong> 
                    {{ (recipe.calories / recipe.servings) | round }} 
                    <span class="light-text">(Total: {{ recipe.calories | round }})</span>
                </p>
                <div class="label-line"></div>
            
                <ul>
                    <li><span>Total Fat</span><span>
                        {{ (recipe.FAT.quantity / recipe.servings) | round(1) }} {{ recipe.FAT.unit }} 
                        <span class="light-text">(Tot: {{ recipe.FAT.quantity | round(1) }})</span>
                    </span></li>
            
                    <li><span>Protein</span><span>
                        {{ (recipe.PROTIEN.quantity / recipe.servings) | round(1) }} {{ recipe.PROTIEN.unit }} 
                        <span class="light-text">(Tot: {{ recipe.PROTIEN.quantity | round(1) }})</span>
                    </span></li>
            
                    <li><span>Total Carbohydrate</span><span>
                        {{ (recipe.CARBS.quantity / recipe.servings) | round(1) }} {{ recipe.CARBS.unit }} 
                        <span class="light-text">(Tot: {{ recipe.CARBS.quantity | round(1) }})</span>
                    </span></li>
            
                    <li><span>Fiber</span><span>
                        {{ (recipe.FIBER.quantity / recipe.servings) | round(1) }} {{ recipe.FIBER.unit }} 
                        <span class="light-text">(Tot: {{ recipe.FIBER.quantity | round(1) }})</span>
                    </span></li>
            
                    <li><span>Total Sugars</span><span>
                        {{ (recipe.SUGAR.quantity / recipe.servings) | round(1) }} {{ recipe.SUGAR.unit }} 
                        <span class="light-text">(Tot: {{ recipe.SUGAR.quantity | round(1) }})</span>
                    </span></li>
                </ul>
            </div>            
            
        </div>
        
        <div class="tag-box">
            <div class="tag-section">
                <p>Meal Type: {{ recipe.mealType | join(", ") }}</p>
            </div>
            <div class="separator"></div>
            <div class="tag-section">
                <p>Cuisine: {{ recipe.cuisineType | join(", ") }}</p>
            </div>
        </div>
        
        <div class="note-container">
            <p class="note">Diet Labels: {{ recipe.dietLabels | join(", ") }}</p>
        </div>
        
        <div class="ingredient-box">
            <h2>Ingredients:</h2>
            <ul class="ingredient-list">
                {% for ingredient in recipe.ingredientLines %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <p>
                <a href="{{ recipe.url }}" target="_blank" class="recipe-link">
                    View full cooking instructions
                </a>
            </p>
        </div>

        <div class="save-profile">
            <form action="{{ url_for('auth.save_recipe', recipe_id=recipe_id) }}" method="post">
                <button type="submit">Save to Profile</button>
            </form>
        </div>
        
        <h3>Other Tags:</h3>
        <div class="health-tag-list-container">
            <h3>Health Labels</h3>
            <ol>
                {% for label in recipe.healthLabels %}
                    <li>{{label}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</body>
</html>